@import "variables";
.botonHead{
    background-color: $primary;
    border: 0px;
    border-radius: 20px;
    width: 146px;
    height: 44px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 
}
.botonesEditar{
    background-color: $flojito;
    width: 400px;
    height: 70px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid $header;
}
.notaCurso,.botonCurso{
    margin-left: 20px;
}
.flecha {
    background: none;
    border: none;
    width: 48px;
    height: 48px;
    margin-top: 96px;
    padding-left: 100px;
}
.editIMG{
    background: none;
    border: none;
    width: 55px;
    height: 55px;
}
.buttonAgregar{
    margin-left: 1185px;

}

.botonCurso,#cambiarContrasenaBtn,.botonNotas{
    border: none;
    background-color: $primary;
    height: 28px;
    border-radius: 6px;
}
