@import "variables";

#index{
    background-image: url("../imgg/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;


}
#casilla{
    width: 10%;
    height: 20px;
}
::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #B4B4B4;
}
.indexContainer{
    width: 800px;  
    height: 800px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}
.child{
    width: 738px;
    height: 503px;
    background-color: $flojito;
    display: grid;
    place-items: center;
    border-radius: 65px;
form{
input{
    border-radius: 20px;
    border: 1px solid $header;
    width: 358px;
    height: 79px;
}  
}    
}
body{
    background: $primary;
    font-family: 'Poppins', sans-serif;
    

}

.nav{
    background-color: $header;
    height: 80px;
    padding:1.5em 5%;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 8px;
    display: grid;
    gap: 1.5em;
    align-items: center;
    grid-template-columns: 100px 1fr 2fr;
}

.nav_title{
    margin:0 auto;

}
.nav_list{
    padding: 0;
    list-style: none;
    margin: 0 auto;
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    gap: 2.5em;
}

@media (min-width:693px){
    .nav_title, .nav_list{
        margin: unset;
    }
}
.imagen{
 
    margin-left: -8px;
    width: 100%;
    padding-right: 40px;
    height: 400px;
    background-image: url(../imgg/Principal.jpg);
}
.container{
    display: grid;
    justify-content: center;     
    grid-auto-flow: column;
    gap: 2.5em;
    padding-top: 40px;
}

#imagen-usuario{
   
    width: 30px;
    cursor: pointer; /* Cambia el cursor al hacer clic en la imagen */
}

.enlaces {
    display: none;
    position: absolute;
    background-color: white; /* Cambia el fondo de los enlaces según tu diseño */
    border: 1px solid #ccc; /* Agrega un borde para separar los enlaces */
    padding: 10px; /* Ajusta el espaciado interior de los enlaces */
    z-index: 1; /* Coloca los enlaces por encima de otros elementos */
    font-size: 16px;
    width: 5%;
    text-align: center;
    border-radius: 20px;
}
