@import "variables";

#IndeFooter{
    background-color: $header;
    height: 80px;
   
    display: grid;
    gap: 1.5em;
    align-items: center;
    grid-template-columns: 100px 1fr 2fr;
    position: absolute;
    width: 100%;
    
}
.footerPage{
    background-color: $header;
    height: 80px;
    display: grid;
    gap: 1.5em;
    align-items: center;
    grid-template-columns: 100px 1fr 2fr;
    position: absolute;
    width: 100%;
    bottom: 0;

}
