//variables
@import 'SCSS/variables.scss';
//estlos
@import 'SCSS/botons.scss';
//encabezados
@import 'SCSS/encabezado.scss';
//mixins
@import 'SCSS/mixins.scss';
//pie
@import 'SCSS/piedepagina.scss';

*{
    margin: 0px;
    padding: 0px;
}

#tablaEstudiantes{
    border-radius: 20px;
    border:1px solid black;
    display: none;
td{
    padding: 5px;
}
}
#enviarDatos,#archivoInput{
    height: 35px;
}
#enviarDatos{
    display: none;
}

//notas alumnos
.TablaNotas{
    border-radius: 20px;
    border:1px solid black;
 
th,td{
    padding: 5px;
}
}
.NotasTabla{
    display: grid;
    grid-auto-flow: row;
}
.fechas{
    margin-left: 20px;
}

.UploadFile{
    display: grid;
    justify-content: center;
}

.UploadFile p{
    padding-top: 10px;
}


.buscador{
    position: absolute;
    top: 150px;
}
